body { background: #f8f8f8 !important;
    font-family: 'Roboto', sans-serif;
}
.bold { font-weight: 700; }
a {color:#0b4d78;}
a:hover { text-decoration: none; color: #0a3857;}
.breadcrumb {
padding: 8px 0!important;
}
legend {
padding-bottom: 10px;
margin-bottom: 20px;
font-size: 20px;
font-weight: 700;
line-height: inherit;
color: #333;
border-bottom: 1px solid #dfe0e1;
}

.greenlink a { color:#36c157; }
.greenlink a:hover { color:#2e9e49; }
.redlink a { color:#da4830; }
.redlink { color:#da4830; }
.redlink a:hover { color:#c13b25; }
.redlink:hover { color:#c13b25; }

.buttons { margin: 25px 0;  }
.buttons .btn { margin: 0 6px;  }

/*forms*/
.form-group {
margin-bottom: 17px;
}
.form-control {
display: block;
width: 100%;
height: 40px;
padding: 9px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #dfe0e1;
border-radius: 2px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
margin-top: 0;
margin-bottom: 0;
padding-top: 10px;
}
textarea.form-control {
/*height: auto !important;*/
min-height: 40px;
}
/*tables*/
table.dataTable { border-radius: 3px; border-collapse: collapse;
    /*border-spacing: 0;*/}
table.dataTable thead > tr > th, table.invoice-table thead > tr > th {
    background-color: #e37329 !important;
    color:#fff;
}
th:first-child {
    border-radius: 3px 0 0 0;
    border-left: none;
}
th:last-child {
    border-radius: 0 3px 0 0;
}

tr {border: none;}
th {border-left: 1px solid #d26b26; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
vertical-align: middle;
border-top: none;
border-bottom: 1px solid #dfe0e1;
}
table.dataTable.no-footer {
border-bottom: none;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #FDFDFD;
}
table.table thead .sorting_asc {
background: url('../images/sort_asc.png') no-repeat 90% 50%;
}
table.table thead .sorting_desc {
background: url('../images/sort_desc.png') no-repeat 90% 50%;
}
table.dataTable thead th, table.dataTable thead td, table.invoice-table thead th, table.invoice-table thead td {
padding: 12px 10px;
}
table.dataTable tbody th, table.dataTable tbody td {
padding: 10px;
}

.datepicker {
padding: 4px !important;
margin-top: 1px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.datepicker.dropdown-menu {
border: 1px solid #dfe0e1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
color: #333333;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 20px;
}
.datepicker table {font-size: 12px; border-spacing:2px;}
.datepicker td, .datepicker th { width:30px; }
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active {
background-color: #0b4d78;
    background-image:none;
}
.datepicker table tr td.today { color: #333; background-color: #edd71e !important; background-image:none; text-shadow:none;}
.datepicker table tr td.today:hover { color: #333; background-color: #edd71e !important; background-image:none; text-shadow:none;}
.datepicker table tr td.today.active:hover {
color: #333;
}

/*modals*/
.modal .container {
padding: 20px;
}
.modal-header {
border-bottom: none;
background-color: #0b4d78;
    padding: 20px;
    color: #fff;
}
.modal-footer {
background-color: #f8f8f8;
border-top: none;
}
.modal thead {
background: #fff;
color: #333;
}
.modal .table>thead>tr>th {
border-bottom: 1px solid #dfe0e1 !important; padding-top: 30px;
    background: #fff !important;
    color: #333 !important;
}
.modal .table>thead>tr>th:first-child, .modal .table>thead>tr>th:last-child {
border-bottom: none !important;
}
.modal .close {
color: #fff;
text-shadow: none;
opacity: .8;
filter: alpha(opacity=80);
}
.modal .close:hover {
opacity: 1;
filter: alpha(opacity=100);
}
/*buttons*/
.btn { font-weight: bold; 
    border-radius: 3px;
    padding: 9px 12px;
}
.btn-success {
background-color: #36c157 !important;
border-color: #36c157 !important;
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{background-color:#33b753 !important; border-color:#33b753 !important;}
.btn-sm, .btn-group-sm>.btn {
padding: 5px 10px;
}
.btn-group.open .dropdown-toggle {
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-primary {
background-color: #0b4d78;
border-color: #0b4d78;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
background-color: #0a456c;
border-color: #0a456c;
}
.btn-default {background-color: #808080;
border-color: #808080;
    color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
color: #fff;
background-color: #737373;
border-color: #737373;
}
.btn-info {background-color: #e27329;
border-color: #e27329;
    color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
color: #fff;
background-color: #d66d27;
border-color: #d66d27;
}
.btn-lg, .btn-group-lg>.btn {
padding: 10px 16px;
font-size: 18px;
    height: auto;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
background-color: #b5b5b5;
border-color: #b5b5b5;
}
.input-group-addon {
background-color: #f4f4f4;
border: 1px solid #dfe0e1;
border-radius: 3px;
    cursor:pointer;
}
.caret {
margin-left: 0px;
}
.btn i.glyphicon {  font-size: 16px; margin-left:7px; top: 2px; }
.btn-primary i{
border-color: #0b4d78;
}
.form-actions .btn { margin-left: 10px; }

.form-actions .btn.btn-success:first-child {
margin-left: 10px !important;
}

/*alerts*/

.alert {
padding: 15px;
border: none;
border-radius: 3px;
}

/*new*/

div {
    word-break: break-word;
}

div.input-group {
    word-break: normal;
}

div.required > label {
    font-weight: bold !important;
}

label.checkbox,
label.control-label {
    font-weight: normal !important;
}

.breadcrumb {
    background-color: inherit;
    font-size: 22px;
}

div.panel {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.panel {
border-radius: 3px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.pointer {
    cursor: pointer;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.less-space-bottom {
    padding-bottom: 4px !important;
    margin-bottom: 4px !important;
}

/* DataTables and BootStrap */
.dataTables_wrapper {
    padding-top: 16px;
}

table.table thead > tr > th {
    border-bottom-width: 0px;
}

table td {
    max-width: 250px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
background-color: #0b4d78;
border-color: #0b4d78;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}

/* hide table sorting indicators */
table.table thead .sorting { background: url('') no-repeat center right; }



/* navigation */
.sidebar-nav {
    padding: 9px 0;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    visibility: hidden;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav>li>a {
padding-top: 20px;
padding-bottom: 20px;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.nav-tabs { color:#fff; }
.nav-tabs.nav-justified>li>a {
border: none;
border-radius: 0;
color: #fff;
background-color: #9b9b9b;
 
}
.nav-tabs.nav-justified>li:first-child>a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}
.nav-tabs.nav-justified>li:last-child>a {
    border-radius: 0 3px 3px 0;
}
.nav-tabs.nav-justified>li>a:hover {
    background-color:#8a8a8a;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border: none;
background-color: #808080;
font-weight: bold;
    color: #fff;
}
.navbar {
  background-color: #0b4d78 !important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .active > a {
  background-color: #09334f !important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.navbar .dropdown-menu {
    border-top: 1px solid #0b4d78;
}
.navbar-brand {
padding-top:20px;
}
.dropdown-menu {
left: 0;
top: 100%;
min-width: 160px;
padding: 5px 0;
font-size: 14px;
border: none;
border-radius: 3px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.05);
box-shadow: 0 6px 12px rgba(0,0,0,.05);
background-clip: padding-box;
}


/***********************************************
   Dashboard 
************************************************/

.in-bold {
    font-size: 26px;
    font-weight: bold;;
}


.in-thin {
    font-size: 26px;
    font-weight: 100;
}

.in-bold-white {
    font-weight: bold;
    color: white;
}

.in-image {
    float:left;padding-right:25px;
}

.in-white {
    color: white;
}


.active-clients {
    background-color: #0b4d78;
    background-image:url('../images/activeclients.png');
    background-position:center;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 44px;
    text-align: center;
}

.average-invoice {
    background-color: #ecd817;
    height: 200px;
    padding-top: 60px;
    text-align: center;
}

.invoice-table tbody {
    border-style: none !important;
}
.panel-body {padding: 25px;}

.dashboard .panel-heading { margin: -1px; }

.dashboard .panel-body {padding: 0;}

.dashboard .table-striped>tbody>tr>td, .table-striped>tbody>tr>th { background-color: #fbfbfb;}
.dashboard .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
background-color: #fff;
} 
.dashboard th {
border-left: none;
    background-color: #fbfbfb;
    border-bottom: 1px solid #dfe0e1;
}
.dashboard table.table thead > tr > th {
border-bottom-width: 1px;
}

.dashboard .table-striped>tbody>tr>td:first-child { padding-left: 15px;  }
.dashboard .table-striped>thead>tr>th:first-child { padding-left: 15px;  }


.invoice-table tfoot input {
    text-align: right;
}


/***********************************************
   New/edit invoice page
************************************************/

table.invoice-table { color:#333; }

table.invoice-table th:first-child {
    border-radius: 3px 0 0 3px;
}
table.invoice-table th:last-child {
    border-radius: 0 3px 3px 0;
}

.invoice-table td.hide-border,
.invoice-table th.hide-border {
    border-style: none !important;
}

.invoice-table .line-total {
    padding-top: 6px;
}


.invoice-table td.td-icon {
    vertical-align: middle !important;
}

.fa-sort {
    cursor: move !important;
}

.closer-row {
    margin-bottom: 2px;
}


/* Animate col width changes */
body {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/***********************************************
   New/edit invoice page
************************************************/

.two-column .form-group div {
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
}

.two-column .form-group div .radio {
	margin-left:10px;
}

/***********************************************
   Add mouse over drop down to header menu
************************************************/

.navbar-default {
    background-color: #428bff;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3276b1;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3276b1;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #3276b1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3276b1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-form { margin-top: 15px; padding-right:0; }
.navbar-form:first-child { padding-right: 0; }
.navbar-form .form-control { height: 30px; }
.twitter-typeahead .tt-hint {
height: 30px;
border-radius: 3px;
}
.navbar-form .btn-default {
color: #fff;
background-color: #09334f;
border-color: #09334f;
}
.navbar-form .dropdown-toggle.btn-default {
color: #fff;
background-color: #08273c;
border-color: #08273c;
}
#signUpPopOver {
    cursor: pointer;
}
div.fb_iframe_widget {
    display: inline;
}
div.fb_iframe_widget > span {
    vertical-align: top !important;  
}
.pro-label {
    font-size:9px;
}


.plans-table {float: none; margin-top: 10px; }
.plans-table div {text-align:center; margin: 0 auto; }

.plans-table .free, .plans-table .desc { padding: 0; }
.plans-table .free .cell { padding-right: 15px; }
.plans-table .desc .cell { text-align: right; padding-right: 15px; border-left: 1px solid #dfe0e1; font-size: 13px; font-weight: 800; }
.plans-table .pro .cell { border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;}


.plans-table .cell {background-color: #fff; border-top: 1px solid #dfe0e1;padding: 18px 0; font-family: Roboto, sans-serif; height: 60px;}
.plans-table .cell:nth-child(odd){background-color: #fbfbfb;}
.plans-table .pro .cell:nth-child(odd){background-color: #f4f4f4;}
.plans-table .pro {
    background-color: #2299c0;
     overflow:hidden;
    padding: 0;
-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 5, 5, 0.2);
-moz-box-shadow:    0px 0px 15px 0px rgba(0, 5, 5, 0.2);
box-shadow:         0px 0px 15px 0px rgba(0, 5, 5, 0.2);
}

.plans-table .free .cell:first-child, .plans-table .pro .cell:first-child {color: #fff; text-transform: uppercase; font-size: 24px; font-weight:800; line-height: 60px; padding: 0; position: relative; bottom: -1px; border: none;}
.plans-table .free .cell:first-child {background-color: #9b9b9b; margin-right: 15px; padding-right: 0;}
.plans-table .free, .plans-table .desc {border-bottom: 1px solid #dfe0e1;}
.plans-table .pro .cell:first-child {background-color: #2299c0;}
.plans-table .pro .cell:last-child {padding: 0; border: none;}
.plans-table .desc .cell:first-child {background-color: transparent; border: none;}

.plans-table .glyphicon {color: #fff; border-radius: 50px; padding: 5px; font-size: 10px;}
.plans-table .glyphicon-remove {background-color: #da4830;}
.plans-table .glyphicon-ok {background-color: #35c156;}
.plans-table .glyphicon-star {border-radius: 0; background-color: #2e2b2b;
    display: block;  
    width: 60px;  
    height: 30px;  
    position: absolute;  
    top: -5px;  
    right: -20px;  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 13px 0 0 1px;
}

.plans-table .price {padding: 0; }
.plans-table .free .price p {color: #35c156;}
.plans-table .pro .price p {color: #2299c0;}
.plans-table .price p {font-size: 40px; text-transform: uppercase; font-weight: 800; margin: 0; line-height: 55px;}
.plans-table .price p span {font-size: 16px; text-transform: none; font-weight: 400;}

.plans-table a .cta h2 {background: #2299c0; color:#fff; margin: 0;}
.plans-table a .cta h2 span {background: #1e84a5;}


.checkbox-inline input[type="checkbox"] {
  margin-left: 0px !important;
}


#designThumbs img {
    border: 1px solid #CCCCCC;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.entityArchived {
    color: #888 !important;    
}

.entityDeleted {
    text-decoration: line-through;
}

@media screen and (min-width: 992px) {
   .hide-desktop {display: none;}
}

@media (max-width: 992px) {
    .hide-phone {
        display: none !important;
    }    
}

@media screen and (min-width: 992px) {
   .medium-dialog {
        width: 760px;
   }
   .large-dialog {
        width: 960px;
   }   
}

@media (max-width: 767px) {
    .test-class{color:black;}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .plans-table .cell {height: auto; padding: 14px 0; }
    .plans-table .free .cell { padding-right: 0; }
    .plans-table .free .cell:first-child {margin-right: 0;}
    .plans-table .cell div:first-child {margin-bottom: 5px;}
    .plans-table .cell .cta {margin-bottom: 0 !important;}    
    .plans-table .pro {margin-top: 40px;}    
}
